@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
.navbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  border-radius: 20px;
  justify-content: space-between;
  width: 60%;
  height: 100px;
  background: #1c1d28;
  line-height: 100px;
  padding: 0 20px;
  opacity: 0.8;
  display: flex;
  z-index: 100;
}
.navbars {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  justify-content: space-between;
  width: 60%;
  height: 100px;
  background: #1c1d28;
  line-height: 100px;
  padding: 0 20px;
  opacity: 0.8;
  display: flex;
}
.logo {
  font-weight: 900;
  font-size: 20px;
  color: aliceblue;
}
.logo span {
  color: red;
}
.menu-items {
  width: 100%;
  height: 100vh;
  background: #10111b;
  position: absolute;
  right: -100vw;
  transition: 1s ease-in;
  margin-top: 100px;
}
.menu-items ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  margin-top: 40px;
}
.menu-items ul li {
  list-style: none;
  color: aliceblue;
}
.show {
  right: 0;
}
.menu {
  color: aliceblue;
  line-height: 100px;
  cursor: pointer;
  transition: 1s;
  font: 2em;
}
.close {
  color: aliceblue;
  line-height: 100px;
  cursor: pointer;
  transition: 1s;
  font-size: 2em;
}
.menu:hover {
  background: linear-gradient(to right, #2b1ae6, #0873ff, #1da9e6, #44ee82);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.close:hover {
  color: blue;
}
.jumbo {
  background: #10111b;
  width: 100%;
  height: 750px;
  display: flex;
  color: aliceblue;
  align-items: center;
}
.jumbo .des h1 {
  background: linear-gradient(to right, #2b1ae6, #0873ff, #1da9e6, #44ee82);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.des {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.img {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.img a {
  font-size: 10px;
}
.projects {
  background: #10111b;
  text-align: center;
  color: #fff;
}

.card {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-one {
  width: 30%;
  height: 500px;
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #1c1d28;
  border-radius: 10px;
  opacity: 0.8;
  margin-bottom: 50px;
}

.card-one::before {
  content: "01";
  color: aliceblue;
  font-size: 8em;
  font-weight: 900;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  background: #10111b;
  position: absolute;
  top: 0;
  right: 0;
}
.cardone {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
}
.cardone a {
  text-decoration: none;
  color: aliceblue;
}
.cardone img {
  width: 100%;
  height: 60%;
  border-radius: 10px;
}
.imgdes {
  width: 90%;
}

.imgdes a {
  color: #c4832d;
}
.imgdes h2 {
  font-weight: 200;
  font-size: 1.5em;
  text-decoration: underline;
  transition: all 1s ease;
}
.imgdes h2:hover {
  letter-spacing: 4px;
}
.card-two {
  width: 30%;
  height: 500px;
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #1c1d28;
  border-radius: 10px;
  opacity: 0.8;
  margin-bottom: 50px;
}

.card-two::before {
  content: "02";
  color: aliceblue;
  font-size: 8em;
  font-weight: 900;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  background: #10111b;
  position: absolute;
  top: 0;
  right: 0;
}
.card-three {
  width: 30%;
  height: 500px;
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #1c1d28;
  border-radius: 10px;
  opacity: 0.8;
  margin-bottom: 50px;
}

.card-three::before {
  content: "03";
  color: aliceblue;
  font-size: 8em;
  font-weight: 900;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  background: #10111b;
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 1200px) {
  .des {
    flex-direction: column;
  }
}
@media only screen and (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .card-one,
  .card-two,
  .card-three {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }

  .jumbo h1 a {
    font-size: 0.7em;
  }
  .des {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }
  .card-one,
  .card-two,
  .card-three {
    width: 90%;
  }
}
